#sagar-group-institutions {
  width: 100%;
  padding-bottom: $pageContentSpacing;

  .img-card {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .ch-image {
      width: 225px;
      margin-bottom: 50px;
    }
  }

  .row-col-switch {
    flex-direction: row-reverse;
    .the-image,
    .ch-title,
    .ch-text,
    .ch-date,
    .div-read-more {
      text-align: right;
    }
  }

  .the-image {
    height: 100%;
    img {
      height: inherit;
      width: 90%;
      box-shadow: rgba(0, 0, 0, 0.8) 0px 18px 30px;
    }
  }

  .ch-content,
  .ch-title,
  .ch-date,
  .ch-text {
    color: #fff;
  }

  .ch-text {
    margin-bottom: 30px;
  }

  .ch-title {
    font-size: 42px;
    text-align: left;
  }

  .ch-date {
    font-size: 7vw;
  }
}

.vision-mission-card {
  background: #287bff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 320px;
  height: 420px;
  margin: 0 auto;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgb(255 255 255 / 24%),
    0 45px 0 rgb(0 0 0 / 15%);
  overflow: hidden;
  background: linear-gradient(to bottom, #e95035, #e5136c);
  margin-bottom: $pageContentSpacing;

  &::before {
    content: "";
    position: absolute;
    top: -140px;
    left: -40%;
    padding: 0;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
  }

  .vision-mission-icon {
    position: relative;
    width: 130px;
    height: 110px;
    background: #3c2846;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 0 rgb(0 0 0 / 10%), inset 0 -8px 0 #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    img {
      width: 70px;
      filter: invert(100%) sepia(0%) saturate(4218%) hue-rotate(342deg)
        brightness(110%) contrast(107%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;
      width: 50px;
      height: 50px;
      background: transparent;
      border-top-right-radius: 50px;
      box-shadow: 15px -15px 0 15px #3c2846;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -50px;
      width: 50px;
      height: 50px;
      background: transparent;
      border-top-left-radius: 50px;
      box-shadow: -15px -15px 0 15px #3c2846;
    }
  }

  .vision-mission-content {
    position: absolute;
    width: 100%;
    padding: 15px;
    padding-top: 140px;
    text-align: center;

    h2 {
      color: #fff;
      font-family: font-bold;
      text-transform: uppercase;
    }

    p {
      color: #fff;
      line-height: 1.2;
    }
  }
}

.flip-box-item {
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;

  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;

    .flip-box-front,
    .flip-box-back {
      background-size: cover;
      background-position: center;
      border-radius: 8px;
      min-height: 300px;
      -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .flip-box-front {
      -ms-transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .flip-box-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      -ms-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $blackClr, $alpha: 0.75);
        border-radius: 8px;
      }
    }

    &:hover {
      .flip-box-front {
        -ms-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      .flip-box-back {
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
    }

    .inner {
      position: relative;
      width: 100%;
      padding: 60px;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
      perspective: inherit;
      z-index: 2;

      transform: translateY(0) translateZ(60px) scale(1);
      -webkit-transform: translateY(0) translateZ(60px) scale(1);
      -ms-transform: translateY(0) translateZ(60px) scale(1);
    }

    .flip-box-header {
      font-size: 34px;
      color: #fff;
    }

    p {
      font-size: 20px;
      color: #fff;
    }
  }
}

.advisory-committee-card {
  background: #fff;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .img-div {
    img {
      width: 200px;
      height: 200px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
  }

  .title {
    font-family: font-bold;
    font-size: 26px;
  }

  .designation {
    font-family: font-semibold;
    font-size: 18px;
    color: $tertiaryClr;
  }

  * {
    margin-bottom: 0;
  }

  p {
    line-height: 1.3;
    text-align: justify;
  }
}

.ventures-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;

  .venture-link {
    a {
      text-transform: uppercase;
      font-weight: 600;
      padding: 25px 0;
      display: block;
      color: rgba(10, 10, 10, 0.5);
      transition: all 0.1s ease-in;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: font-bold;
      color: #fff;

      img {
        width: 60px;
        filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(303deg)
          brightness(106%) contrast(100%);
      }

      span {
        display: inline-block;
        margin-top: 8px;
        font-size: 20px;
      }
    }
  }
}

#venture-heritage {
  .content-images {
    width: 100%;
    overflow: hidden;
    .img-card {
      background-repeat: no-repeat !important;
      background-size: cover !important;
      min-height: 100vh;
      .vh-image {
        width: 225px;
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }

    .vh-content {
      color: #fff;
      text-align: justify;
    }

    .vh-title {
      font-size: 34px;
      text-transform: uppercase;
      font-family: font-semibold;
      text-align: left;
    }

    .vh-date {
      font-size: 7vw;
      color: #fff;
    }

    .vh-button {
      display: inline-block;
      padding: 0.5rem 1.5rem;
      color: #fff;
      font-size: 18px;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border: 1px solid #fff;
      margin-top: 30px;
      transition: all 0.5s ease;
    }
  }
}

#our-leaders {
  .higher-management {
    .the-quote {
      font-size: 18px;
      line-height: 1.3;
      text-align: justify;
    }

    .left-pad {
      padding-left: 15px;
    }

    .right-pad {
      padding-right: 15px;
    }

    .hm-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;

      & > img {
        box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
          rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
          rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
      }

      .name > p {
        color: $blackClr;
        line-height: 1.2;

        &:first-child {
          margin-top: 12px;
          font-size: 20px;
        }
      }
    }
  }
}

#lower-management {
  .principals-div {
    margin-top: 30px;
  }
}

.team-card {
  width: 325px;
  height: 325px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  transition: 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 30px rgb(0 0 0 / 40%);

    .team-card-footer {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .imgBx {
      transform: scale(1.1);
    }
  }

  .imgBx {
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }

  .team-card-footer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    padding: 15px 5px;

    h3 {
      color: #fff;
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}
