.common-no-bg-css {
  position: relative;
  padding: 60px 0;
}

.common-bg-css {
  @extend .common-no-bg-css;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.blur-bottom-bg {
  $theSize: 30px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -$theSize;
  width: 100%;
  height: calc(#{$theSize} * 2);
  background: #fff;
  z-index: 10;
  filter: blur(15px);
}

.page__section {
  &.bg__whitish {
    @extend .common-no-bg-css;
    &::after {
      @extend .blur-bottom-bg;
    }
  }

  &.bg__1 {
    @extend .common-bg-css;
    background: url("../images/backgrounds/bg__1.jpg");
    &::after {
      @extend .blur-bottom-bg;
    }
  }

  &.bg__2 {
    @extend .common-bg-css;
    background: url("../images/backgrounds/bg__2.jpg");
    &::after {
      @extend .blur-bottom-bg;
    }
  }

  &.bg__3 {
    @extend .common-bg-css;
    background: url("../images/backgrounds/bg__3.jpg");
    &::after {
      @extend .blur-bottom-bg;
    }
  }

  &.bg__4 {
    @extend .common-bg-css;
    background: url("../images/backgrounds/bg__4.jpg");
    &::after {
      @extend .blur-bottom-bg;
    }
  }

  &.bg__5 {
    @extend .common-bg-css;
    background: url("../images/backgrounds/bg__5.jpg");
  }
}
